NUXT_PUBLIC_SANITY_PROJECT_ID=v8alcn6p
NUXT_PUBLIC_SANITY_DATASET=production
NUXT_PUBLIC_SITE_URL=https://example.com
NUXT_PUBLIC_SANITY_STUDIO_URL=https://example.sanity.studio
SANITY_STUDIO_PROJECT_ID=v8alcn6p
SANITY_STUDIO_DATASET=production
SANITY_STUDIO_PREVIEW_URL=https://preview.example.com
SANITY_API_READ_TOKEN=replace_with_read_token
SANITY_WEBHOOK_SECRET=replace_with_random_secret
NUXT_TELEGRAM_BOT_TOKEN=replace_with_telegram_bot_token
NUXT_TELEGRAM_CHAT_ID=replace_with_telegram_chat_id
UPSTASH_REDIS_REST_URL=https://replace_with_upstash_url
UPSTASH_REDIS_REST_TOKEN=replace_with_upstash_token
